<div fxLayout="row">
  <div fxFlex fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10">

    <mat-card class="search-card">
      <mat-card-title class="game-list-title">Games</mat-card-title>
      <mat-card-content fxLayout="column" >

        <div fxLayout="row wrap" fxLayoutGap="10px">

          <mat-form-field class="input-field">
            <mat-label>Title</mat-label>
            <input matInput data-test="gameTitleInput" placeholder="Filter by game title"
                   [(ngModel)]="gameGame" (input)="updateFilter()">
            <mat-hint>Search for game by title</mat-hint>
          </mat-form-field>

          <mat-form-field class="input-field">
            <mat-label>Genre</mat-label>
            <input matInput data-test="gameTitleInput" placeholder="Filter by game genre"
                   [(ngModel)]="gameGenre" (input)="updateFilter()">
            <mat-hint>Search for game by genre</mat-hint>
          </mat-form-field>

          <mat-form-field class="input-field">
            <mat-label>Platform</mat-label>
            <input matInput data-test="gameTitleInput" placeholder="Filter by game platform"
                   [(ngModel)]="gameoriginalPlatforms" (input)="updateFilter()">
            <mat-hint>Search for game by platform</mat-hint>
          </mat-form-field>

          <!--mat-form-field class="input-field">
            <mat-label>Year</mat-label>
            <input matInput data-test="gameTitleInput" placeholder="Filter by game year"
                   [(ngModel)]="gameYear" (input)="updateFilter()">
            <mat-hint>Search for game by year</mat-hint>
          </mat-form-field -->


        </div>

      </mat-card-content>
    </mat-card>
  </div>
</div>

<mat-nav-list class="product-nav-list">
  <h3 mat-subheader>Games</h3>
  <a mat-list-item *ngFor="let game of this.filteredGames" [routerLink]="['/games', game._id]" class="game-list-item">
    <h3 matLine class="game-list-title">Title: {{game.gameGame}}</h3>
    <h4 matLine class="game-list-genre">Genre: {{game.gameGenre}}</h4>
    <h5 matLine class="game-list-year">Release Year: {{game.gameYear}}</h5>
    <h6 matLine class="game-list-platform">Original Platform(s): {{game.gameoriginalPlatforms}}</h6>
    <h7 matLine class="game-list-publisher">Publisher: {{game.gamePublisher}}</h7>
  </a>
</mat-nav-list>
